<% @conversation.each do |message| %>
	<%if message.sender == current_user%>
		<div class="sent">
        	<div style='border-bottom: 1px solid #e0e0dc;'>
	<%else%>
		<div class="received" style="color:white;">
            <div style='border-bottom: 1px solid #2a333c; color:white;'>

	<%end%>
		<%= message.sender.email %>
		<div style="float:right;text-align:right;">
			<%= message.created_at.localtime.strftime('%b %e, %l:%M %p') %>
		</div>
		</div><br>
        <%= message.text %></div>
<% end %>
<div class="clearfix"></div>
