<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New Message on TextbookExchange</h1><br>
    <p>
      <strong>From:</strong> <%=@sender.email %><br>
      <strong>At:</strong> <%= @message.created_at.localtime.strftime('%b %e, %l:%M %p') %><br>
      <strong>Message:</strong> <%=@message.text%>
    </p>
    <br>
    <hr>
    <p><%=link_to "View on TextbookExchange", messages_url %></p>
    <p>To turn off emails, go to TextbookExchange, click on your email address, and uncheck "Email Notifications"</p>
  </body>
</html>