#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.sidebar {
    float: left;
    padding: 10px 20px 10px 20px;
    margin:30px;
    margin-left:50px;
    padding-top: 25px;
    font-size: 16px;
    text-align: center;
    min-height: 300px;

    li {
      margin-top: 15px;
    }
}

.linkify {
  cursor: pointer;
}

tr.linkify:hover {
  color: blue;
}

.thumbnail img {
  max-height: 100px;
  max-width: 100px;
}
